* {
  margin: 0;
}
.add-task-button {
  color: white;
  background-color: green;
  border-radius: 4px;
  width: 109px;
  height: 44px;
  font-size: 16px;
}
.add-task-button-2 {
  color: white;
  background-color: green;
  border-radius: 4px;
  font-size: 16px;
  width: 290px;
  height: 44px;
  margin-top: 50px;
}
.main {
  display: flex;
  justify-content: center;
  background-color: rgba(26, 26, 26, 1);
}
.main-inside {
  margin-top: 52px;
  max-width: 1280px;
}
.header {
  /* min-width: 1280px; */
  display: flex;
  justify-content: end;
  height: 44px;
}
.box-header {
  display: flex;
  max-width: 240px;
  align-items: center;
  height: 42px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}
.title {
  color: white;
  font-size: 18px;
  display: flex;
  background-color: black;
}
.white-sircle {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  margin: 0 10px 0 10px;
}
.yellow-sircle {
  width: 12px;
  height: 12px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  margin: 0 10px 0 10px;
}
.green-sircle {
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  margin: 0 10px 0 10px;
}
.red-sircle {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  margin: 0 10px 0 10px;
}
.todo-item {
  background-color: rgba(26, 26, 26, 1);
  color: gray;
  max-width: 240px;
  height: 54px;
  align-items: center;
  display: flex;
  gap: 8px;
  margin: 10px auto;
  border-radius: 8px;
  /* justify-content: space-between; */
}
.all-black-box {
  /* min-width: 1280px; */
  display: flex;
  justify-content: space-between;
  margin: 24px auto auto auto;
  gap: 50px;
}
.black-box {
  width: 280px;
  height: 672px;
  background-color: black;
  border-radius: 12px;
  border: 1px gray solid;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  color: white;
}
.modal-content {
  margin: 100px auto;
  width: 370px;
  height: 376px;
  background-color: 0.11ee1e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 12px;
  flex-direction: column;
  color: white;
}
.add-text {
  color: white;
}
select {
  width: 296px;
  height: 48px;
  border-radius: 4px;
  border: 1px grey solid;
  margin-top: 20px;
  background-color: rgba(26, 26, 26, 1);
}
input {
  width: 290px;
  height: 43px;
  border-radius: 4px;
  border: 1px grey solid;
  margin-top: 20px;
  background-color: rgba(26, 26, 26, 1);
}

.meter {
  margin: 0 0 0 auto;
  color: gray;
}
